
		@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');


/* RESET BASICO */

		* {
			margin: 0;
			padding: 0;
			-webkit-box-sizing: border-box;
				 -moz-box-sizing: border-box;
			        box-sizing: border-box;
		}

		.containerGrid {
				width: 100%;
				margin-left: auto;
				margin-right: auto;
				padding: 0 20px;
		}

			@media (min-width: 1200px) {
				.containerGrid{
						max-width: 1200px;
						padding: 0;
				}
			}

/* LINHA */

		.row {
			margin-left: -5px;
			margin-right: -5px;
		}

		.row:before,
		.row:after {
			content: "";
			display: both;
		}
		.row:after {
			clear: both;
		}

/* COLUNAS */

.coluna {
	 display: inline-block;
	 vertical-align: top;
	 min-height: 1px;
	 padding-left: 5px;
	 padding-right: 5px;
	 width: 100%;
	 margin-right: -4px;
	 *zoom: 1;
	 *display: inline;
 }

/* DUAS COLUNAS */
		@media (min-width: 480px){
			.coluna2{
				width: 50%;
			}
		}

/* TRES COLUNAS */
		@media (min-width: 720px){
			.coluna3{
				width: 33.3333%;
			}
		}

/* SIDEBAR */
@media (min-width: 992px){
		.coluna-content{
				width: 60%;
		}
		.coluna-sidebar{
				width: 40%;
		}
}

.teste{
	width: 100%;
}

#titulo {
	background-color: #343a40;
	font-size: 50px;
	color: #00FA9A;
	text-align: center;
}


/* CODIGO ANTERIOR */
/*
		.menu ul li{
			display: inline;
			background-color: #A9A9A9;
			color: #0000FF;
			float: left;
			width: 200px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			font-size: 20px;
			position: relative;
			z-index: 99;
		}
		.menu ul li:hover{
			background-color: grey;
		}
		.menu ul {
			padding: 0px ;
			z-index: 99;
		}
		.menu ul ul{
			display: none;
		}
		.menu ul li:hover > ul{
			display: block;
		}
		.menu ul ul ul{
			margin-left: 201px;
			top: 0px;
			position: absolute;
		}
		.menu ul ul li:hover{
			background-color: grey;
		}
		.menu ul ul ul li:hover{
			background-color: grey;
		}
		.menu a{
			color: #0000FF;
			text-decoration: none;
		}

		#tabela tr:nth-child(even){
				background-color: #FA8072;
		}

		.divtabela{
			overflow-x: scroll;
		}
		#tabela{
			background-color: #F5F5DC;
			border: 1px solid #606060;
			border-spacing: 0px;

		}

		#tabela th{
			background-color: #FF0000;
			border: 1px solid #606060;
			padding: 10px;
			font-family: 'Indie Flower', cursive;
		}

		#tabela td{
			border: 1px solid #606060;
			padding: 10px;
			font-family: 'Indie Flower', cursive;
		}

		#tabela caption{
			color: #B22222;
			font-size: 30px;
			font-weight: bolder;
			font-family: 'Indie Flower', cursive;
		}

		#tabela caption span{
			display: block;
			float: right;
			font-size: 20px;
			color: #000000;
			font-family: 'Indie Flower', cursive;
		}

		#page ul a li{
			color: #B22222;
			text-decoration: none;
		}

		#link a:link {text-decoration: none;
			text-decoration: none;
			text-transform: none;
		}
		#link a:visited {
			text-decoration: none;
			text-transform: none;
			font-family: 'Indie Flower', cursive;
		}
		#link a:active {
			text-decoration: none;
			text-transform: none;
			font-family: 'Indie Flower', cursive;
		}
		#link a:hover {
			text-decoration: none;
			text-transform: none;
				font-family: 'Indie Flower', cursive;
		}

		#divBusca{
			background-color:#2F4F4F;
			border:solid 1px;
			border-radius:15px;
			width:300px;
			font-family: 'Indie Flower', cursive;
		}

		#txtBusca{
			float:left;
			background-color:transparent;
			padding-left:5px;
			font-style:italic;
			font-size:18px;
			border:none;
			height:32px;
			width:260px;
			font-family: 'Indie Flower', cursive;
		}

		img.seloco {
		    float: left;
		    border: transparent thin solid;
		    padding: 5px;
		    margin: 0px 10px 10px 0;
		    max-width: 186px;
		}

		header#cabeça div {
			font-size: 40px;
			color: #0000FF;
			text-align: center;
		}

		h2#titulo2 {
			position: relative;
			padding: 10px;
			text-align: left;
			font-size: 30px;
			color: white;
		}

		p#pInicio {
			text-align: left;
			font-size: 18px;
			color: white;
		}

		#ultipos a{
			margin-left: 10px;
			font-size: 18px;
			color: black;
			text-decoration: none;
		}

		#ultipos a:visited{
			margin-left: 10px;
			font-size: 18px;
			color: black;
			text-decoration: none;
		}

		#textodiv {
			margin-left: 10px;
			font-size: 20px;
			color: black;
			font-weight: bold;
		}

		#textodiv h2 a{
			margin-left: 5px;
			color: black;
			text-decoration: none;
			font-weight: bold;

		}

		#textodiv h2 a:hover{
			margin-left: 5px;
			color: #0000FF;
			text-decoration: none;

		}

		main#MainP div {
			padding-top: 1px;
			color: black;
			font-size: 20px;
		}

		main#MainP div img {
			width: 200px;
			height: 200px;
			clear: both;
		}

		main#MainP div p{
			overflow: auto;
		}


		.container {
			  width: 50%;
			  margin: 0 auto;
		}
*/
		.form-contact {
			  width: 100%;
		}

		.form-contact-input {
			  width: 100%;
			  color: #292929;
			  font-size: 18px;
			  background-color: #E9E9E9;
			  border: 1px solid #E9E9E9;
			  -moz-border-radius: 5px;
			  -webkit-border-radius: 5px;
			  border-radius: 5px;
			  height: 40px;
			  margin-bottom: 20px;
			  border-bottom: 1px solid #ccc;
			  border-left: 1px solid #ccc;
			  text-indent: 20px;
		}

		.form-contact-textarea {
			  width: 100%;
			  color: #292929;
			  font-size: 18px;
			  background-color: #E9E9E9;
			  border: 1px solid #E9E9E9;
			  -moz-border-radius: 5px;
			  -webkit-border-radius: 5px;
			  border-radius: 5px;
			  height: 200px;
			  margin-bottom: 20px;
			  border-bottom: 1px solid #ccc;
			  border-left: 1px solid #ccc;
			  text-indent: 20px;
			  padding-top: 16px;
			  padding-left: 0;
			  padding-right: 0;
		}

		.form-contact-button {
			  width: 100%;
			  font-size: 18px;
			  border-radius: 4px;
			  color: #fff;
			  height: 40px;
			  opacity: .8;
			  margin-bottom: 20px;
			  cursor: pointer;
			  background: #B22222;
			  display: block;
			  border: none;
			  border-bottom: 1px solid #500707;
			  border-right: 1px solid #500707;
			  transition: 1s;
		}

		.btnbtn-dark {
				width: 100%;
				font-size: 18px;
				border-radius: 4px;
				color: #fff;
				height: 40px;
				opacity: .8;
				margin-bottom: 20px;
				cursor: pointer;
				background: black;
				display: block;
				border: none;
				border-bottom: 1px solid #500707;
				border-right: 1px solid #500707;
				transition: 1s;
		}

		.form-contact-button:hover {
			  opacity: 2;
		}

		.footer{
			color: black;
			font-size: 18px;
			text-align: right;
		}

		.footer sub {
			color: black;
			font-size: 18px;
			text-align: right;
		}
